* {
    margin: 0;
}

/* Header Style */

.header {
    padding: 175px 307px;
    background-image: url('../images/donation1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
}

.section-description {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 16px 20px;
    background: #FF5959;
    font-family: 'Inter', sans-serif;
}

.btn {
    padding: 10px 564px 10px;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

/* Donate Section Style */

.section-title {
    padding-top: 130px;
    padding-bottom: 20px;
    color: #121212;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
}

.donate .section-description {
    color: #707070;
}

.amount-container {
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 50px 415px 100px;
}

.amount-details {
    background: #FFFFFF;
    box-shadow: 1px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 50px;
}

.amount {
    color: #707070;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.amount-description {
    padding: auto 338px;
}

#amount-2nd {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

#amount-2nd .amount {
    color: #FF5959;
}

.amount-description .section-description {
    color: #B3B3B3;
}

hr {
    width: 57%;
    margin-left: 410px;
}

/* Donate Plan Section Style */

.donate-plan .section-description {
    color: #707070;
}

.donate-container {
    display: flex;
    gap: 24px;
    padding: 50px 157px 100px;
}

.donate-details {
    border-radius: 5px;
    padding: 60px;
}

#donate-details1 {
    background-color: rgba(79, 157, 166, 0.1);
}

#donate-details2 {
    background-color: rgba(255, 89, 89, 0.1);
}

#donate-details3 {
    background-color: rgb(255, 244, 214);
}

.donate-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    font-family: 'Poppins', sans-serif;
    padding-top: 32px;
    padding-bottom: 16px;
}

.donate-description {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.fa-solid,
.fas {
    font-size: 50px;
    padding-top: 20px;
}

/* Donation Section Style */

.donation {
    gap: 85px;
    display: flex;
    padding: 50px 200px 50px 200px;
}

.donation-details .section-title {
    text-align: left;
}

.donation-details .section-description {
    text-align: left;
    color: #707070
}

.donation-details .btn {
    padding: 0;
    text-align: left;
}

.donation img {
    width: 750px;
    height: 550px;
    border-radius: 8px;
}

/* Spdates Section Style */

.updates .section-description{
    color: #707070;
}